@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes heart-status {
  0% {
    opacity: 0;
    transform: scale(1);
    transform-origin: center;
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
}
@keyframes little-card {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes span-anim {
  0% {
    transform: translateX(75px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes main-restaurant {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    z-index: 9999;
    opacity: 1;
  }
  20%, 80% {
    opacity: 1;
  }
  100% {
    z-index: -10;
    opacity: 0;
  }
}
@keyframes transition-loader {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes rotate01 {
  from {
    transform: rotateX(15deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(15deg) rotateY(0deg) rotateZ(-360deg);
  }
}
@keyframes rotate02 {
  from {
    transform: rotateX(0deg) rotateY(1deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(0deg) rotateY(1deg) rotateZ(-360deg);
  }
}
@keyframes rotate03 {
  from {
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(180deg) rotateY(0deg) rotateZ(360deg);
  }
}
@keyframes rotate04 {
  from {
    transform: rotateX(160deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(160deg) rotateY(0deg) rotateZ(360deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Base et init */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

/* Typographpy */
body {
  font-family: "Roboto", sans-serif;
}

/* Button */
.btn {
  height: 3.125rem;
  border-radius: 1.5625rem;
  padding: 0 1.5rem;
  font-weight: 700;
  border-style: none;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  border-radius: 1.5625rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, #ffa2e5, #a978e3);
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
}

/* Litle card */
.litleCard {
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #F6F6F6;
  border-radius: 0.9375rem;
  gap: 1rem;
  margin-left: 2rem;
  margin-right: 1.25rem;
  position: relative;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1440px) {
  .litleCard {
    min-width: 20.9375rem;
    margin: 0;
  }
}
.litleCard__numberPosition {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 1.5625rem;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.75rem;
}
.litleCard__icon {
  height: 1.5625rem;
  width: 1.5625rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.litleCard__icon > i {
  color: #7E7E7E;
}
.litleCard .color {
  color: #9356DC;
}
.litleCard__txt {
  width: 180px;
  height: 1.5625rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

/* Card */
.card {
  width: 100%;
  background: white;
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  transition: transform 200ms ease-in-out;
}
.card:hover {
  transform: scale(1.01);
}

.box-fav {
  position: absolute;
  bottom: 15px;
  right: 26px;
}

.label-fav1::before {
  font: var(--fa-font-regular);
  content: "\f004";
  font-size: 1.375rem;
  animation: heart-status 60ms 3 reverse;
}

.label-fav1::after {
  font: var(--fa-font-solid);
  content: "\f004";
  font-size: 1.375rem;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  display: none;
}

#input-fav1[type=checkbox] {
  display: none;
}

#input-fav1[type=checkbox]:checked + .label-fav1::before {
  display: none;
}

#input-fav1[type=checkbox]:checked + .label-fav1::after {
  display: inline-block;
  animation: heart-status 400ms;
}

.label-fav2::before {
  font: var(--fa-font-regular);
  content: "\f004";
  font-size: 1.375rem;
  animation: heart-status 60ms 3 reverse;
}

.label-fav2::after {
  font: var(--fa-font-solid);
  content: "\f004";
  font-size: 1.375rem;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  display: none;
}

#input-fav2[type=checkbox] {
  display: none;
}

#input-fav2[type=checkbox]:checked + .label-fav2::before {
  display: none;
}

#input-fav2[type=checkbox]:checked + .label-fav2::after {
  display: inline-block;
  animation: heart-status 400ms;
}

.label-fav3::before {
  font: var(--fa-font-regular);
  content: "\f004";
  font-size: 1.375rem;
  animation: heart-status 60ms 3 reverse;
}

.label-fav3::after {
  font: var(--fa-font-solid);
  content: "\f004";
  font-size: 1.375rem;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  display: none;
}

#input-fav3[type=checkbox] {
  display: none;
}

#input-fav3[type=checkbox]:checked + .label-fav3::before {
  display: none;
}

#input-fav3[type=checkbox]:checked + .label-fav3::after {
  display: inline-block;
  animation: heart-status 400ms;
}

.label-fav4::before {
  font: var(--fa-font-regular);
  content: "\f004";
  font-size: 1.375rem;
  animation: heart-status 60ms 3 reverse;
}

.label-fav4::after {
  font: var(--fa-font-solid);
  content: "\f004";
  font-size: 1.375rem;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  display: none;
}

#input-fav4[type=checkbox] {
  display: none;
}

#input-fav4[type=checkbox]:checked + .label-fav4::before {
  display: none;
}

#input-fav4[type=checkbox]:checked + .label-fav4::after {
  display: inline-block;
  animation: heart-status 400ms;
}

.loader {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2.5s forwards;
}
.loader > .text {
  font-family: "Shrikhand", serif;
  color: #353535;
  font-size: 35px;
  overflow: hidden;
  white-space: nowrap;
}
.loader > .text > span {
  display: inline-block;
  opacity: 1;
  animation: disappear 200ms backwards;
}
.loader > .text > span:nth-child(1) {
  animation-delay: 0s;
}
.loader > .text > span:nth-child(2) {
  animation-delay: 0.18s;
}
.loader > .text > span:nth-child(3) {
  animation-delay: 0.36s;
}
.loader > .text > span:nth-child(4) {
  animation-delay: 0.54s;
}
.loader > .text > span:nth-child(5) {
  animation-delay: 0.72s;
}
.loader > .text > span:nth-child(6) {
  animation-delay: 0.9s;
}
.loader > .text > span:nth-child(7) {
  animation-delay: 1.08s;
}
.loader > .text > span:nth-child(8) {
  animation-delay: 1.26s;
}
.loader > .ring {
  width: 300px;
  height: 300px;
  border: 0px solid black;
  border-radius: 50%;
  position: absolute;
}
.loader > .ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: #9356DC;
  animation: rotate01 2s linear infinite;
}
.loader > .ring:nth-child(2) {
  border-bottom-width: 8px;
  border-color: #99E2D0;
  animation: rotate02 2s linear infinite;
}
.loader > .ring:nth-child(3) {
  border-bottom-width: 8px;
  border-color: #FF79DA;
  animation: rotate03 2s linear infinite;
}
.loader > .ring:nth-child(4) {
  border-bottom-width: 6px;
  border-color: #00d9ff;
  animation: rotate04 2s linear infinite;
}

/* Header */
.logo {
  width: 100%;
  height: 3.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > a {
  height: 1.875rem;
  width: 1.875rem;
  position: absolute;
  left: 0;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > a > i {
  width: 1.0625rem;
  font-size: 1.1875rem;
}
.logo__img {
  width: 10.125rem;
}
@media (min-width: 1440px) {
  .logo__img {
    width: 12.5rem;
  }
}

/* Footer */
.footer {
  width: 100%;
  background: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  position: relative;
}
@media (min-width: 1055px) {
  .footer {
    height: 7.125rem;
    flex-direction: row-reverse;
    justify-content: end;
    gap: 0;
  }
}
.footer__title {
  font-family: "Shrikhand", serif;
  font-size: 1.1875rem;
  color: white;
  font-weight: 100;
  width: 8.6875rem;
  padding: 1.375rem 1.5625rem 0 1.5625rem;
}
@media (min-width: 1055px) {
  .footer__title {
    margin-block: auto;
    padding: 1.375rem 1.5625rem 0 0;
    margin-right: 1.25rem;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  padding: 0 1.5625rem 1.375rem 1.5625rem;
  margin: 0;
}
@media (min-width: 1055px) {
  .footer__list {
    flex-direction: row;
    align-items: self-end;
    padding: 0 0 2.0625rem 1.5625rem;
  }
}
.footer__list > li {
  color: white;
  font-size: 1rem;
  list-style: none;
  height: 1.5rem;
  font-weight: 300;
}
.footer__list > li:nth-child(1), .footer__list > li:nth-child(2) {
  width: 11.875rem;
}
.footer__list > li:nth-child(3), .footer__list > li:nth-child(4) {
  width: 8.125rem;
}
.footer .group01 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .group01 > p {
  width: 10.5rem;
  font-weight: 400;
}
.footer .group01 > i {
  font-size: 0.75rem;
  width: 1.375rem;
}

.main-index,
.header-index,
.footer-index {
  animation: transition-loader 2s ease backwards;
}

/*********** main ***********/
/*********** search bar ***********/
.form {
  width: 100%;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5375rem;
  background: linear-gradient(#bdbdbd, #eaeaea 7%);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}
.form__icon {
  color: #353535;
}
.form__input {
  font-size: 1rem;
  font-weight: 600;
  border-style: none;
  background: transparent;
  text-align: center;
  width: 133px;
}
.form ::-webkit-input-placeholder {
  color: #353535;
}

/*********** intro ***********/
.intro {
  width: 100%;
  height: 17.875rem;
  background: #F6F6F6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 1440px) {
  .intro {
    height: 14.9375rem;
  }
}
.intro > * {
  margin: 0 1.0625rem;
}
.intro__title {
  margin: 0 2.6875rem;
  font-size: 1.5rem;
  font-weight: 900;
}
@media (min-width: 1440px) {
  .intro__title {
    font-size: 2.5rem;
  }
}
.intro__subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
}
.intro > .btn {
  font-weight: 500;
}

/*********** functioning ***********/
.functioning {
  width: 100%;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 1440px) {
  .functioning {
    height: auto;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .functioning .container {
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    width: 1080px;
  }
}
.functioning .container__title {
  font-size: 1.5rem;
  margin-bottom: 2.1875rem;
  margin-left: 1.25rem;
}
@media (min-width: 1440px) {
  .functioning .container__title {
    margin: 0;
  }
}
.functioning .container__litleCards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media (min-width: 1440px) {
  .functioning .container__litleCards {
    flex-direction: row;
    justify-content: center;
  }
}

/*********** restaurants cards ***********/
.restaurants {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 3.6875rem;
  padding-bottom: 4.125rem;
}
@media (min-width: 1440px) {
  .restaurants {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
@media (min-width: 1440px) {
  .restaurants .cards {
    align-items: center;
  }
}
.restaurants .cards__title {
  font-size: 1.5rem;
  margin-left: 1.25rem;
  padding-bottom: 1.625rem;
}
@media (min-width: 1440px) {
  .restaurants .cards__title {
    margin: 0;
  }
}
.restaurants .cards .card__new {
  font-size: 0.875rem;
  background-color: #99E2D0;
  width: 5rem;
  height: 1.8125rem;
  text-align: center;
  color: #008766;
  font-weight: 500;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants .cards .card__imgBox > img {
  width: 100%;
  height: 10.875rem;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.restaurants .cards .card__content {
  padding: 0.625rem;
}
.restaurants .cards .card__content > h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
.restaurants .cards .card__content > p {
  font-size: 1.0625rem;
  font-weight: 300;
}
.restaurants .cards .column {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  margin: 0 1.0625rem;
}
@media (min-width: 1440px) {
  .restaurants .cards .column {
    flex-direction: row;
    width: 1080px;
    gap: 6.25rem;
  }
}

/* Restaurants */
.main-restaurant {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: main-restaurant 1500ms both;
}
@media (min-width: 1055px) {
  .main-restaurant {
    align-items: center;
  }
}
.main-restaurant__img {
  width: 100%;
  height: 275px;
}
.main-restaurant__menu {
  max-width: 1055px;
  background-color: #F6F6F6;
  padding-top: 1.25rem;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -2.8125rem;
}
@media (min-width: 1055px) {
  .main-restaurant__menu {
    width: 1055px;
  }
}
.main-restaurant .container {
  margin: 0 1.0625rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.main-restaurant .container__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}
.main-restaurant .container__content .box-fav {
  position: relative;
  bottom: -0.125rem;
  right: 0;
}
@media (min-width: 1055px) {
  .main-restaurant .container__content {
    justify-content: center;
  }
}
.main-restaurant .container__content > h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.75rem;
  font-weight: lighter;
  font-family: "Shrikhand", serif;
  color: #101010;
}
.main-restaurant .container .menu1,
.main-restaurant .container .menu2,
.main-restaurant .container .menu3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}
.main-restaurant .container .menu1 .box:nth-child(1),
.main-restaurant .container .menu2 .box:nth-child(1),
.main-restaurant .container .menu3 .box:nth-child(1) {
  animation: little-card 1000ms 0ms both;
}
.main-restaurant .container .menu1 .box:nth-child(2),
.main-restaurant .container .menu2 .box:nth-child(2),
.main-restaurant .container .menu3 .box:nth-child(2) {
  animation: little-card 1000ms 200ms both;
}
.main-restaurant .container .menu1 .box:nth-child(3),
.main-restaurant .container .menu2 .box:nth-child(3),
.main-restaurant .container .menu3 .box:nth-child(3) {
  animation: little-card 1000ms 400ms both;
}
.main-restaurant .container .menu1 .box:nth-child(4),
.main-restaurant .container .menu2 .box:nth-child(4),
.main-restaurant .container .menu3 .box:nth-child(4) {
  animation: little-card 1000ms 600ms both;
}
.main-restaurant .container .menu1 .box:nth-child(5),
.main-restaurant .container .menu2 .box:nth-child(5),
.main-restaurant .container .menu3 .box:nth-child(5) {
  animation: little-card 1000ms 800ms both;
}
.main-restaurant .container .menu1 > h2,
.main-restaurant .container .menu2 > h2,
.main-restaurant .container .menu3 > h2 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
  animation: span-anim 1600ms ease-in-out both;
}
.main-restaurant .container .menu1 > h2 .border,
.main-restaurant .container .menu2 > h2 .border,
.main-restaurant .container .menu3 > h2 .border {
  border-bottom: 0.1875rem solid #99E2D0;
  padding-bottom: 0.4375rem;
}
.main-restaurant .container .menu1 .box,
.main-restaurant .container .menu2 .box,
.main-restaurant .container .menu3 .box {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.1);
}
.main-restaurant .container .menu1 .box:hover .progressBar,
.main-restaurant .container .menu2 .box:hover .progressBar,
.main-restaurant .container .menu3 .box:hover .progressBar {
  margin-right: 0px;
}
.main-restaurant .container .menu1 .box .card,
.main-restaurant .container .menu2 .box .card,
.main-restaurant .container .menu3 .box .card {
  display: flex;
  flex-direction: row;
  transform: none;
}
.main-restaurant .container .menu1 .box .card__content,
.main-restaurant .container .menu2 .box .card__content,
.main-restaurant .container .menu3 .box .card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.8125rem;
  overflow: hidden;
}
.main-restaurant .container .menu1 .box .card__content > *,
.main-restaurant .container .menu2 .box .card__content > *,
.main-restaurant .container .menu3 .box .card__content > * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-restaurant .container .menu1 .box .card__content > h3,
.main-restaurant .container .menu2 .box .card__content > h3,
.main-restaurant .container .menu3 .box .card__content > h3 {
  font-size: 1.125rem;
  font-weight: 500;
}
.main-restaurant .container .menu1 .box .card__content > p,
.main-restaurant .container .menu2 .box .card__content > p,
.main-restaurant .container .menu3 .box .card__content > p {
  font-size: 0.94rem;
  font-weight: 300;
}
.main-restaurant .container .menu1 .box .card .price,
.main-restaurant .container .menu2 .box .card .price,
.main-restaurant .container .menu3 .box .card .price {
  font-size: 0.94rem;
  font-weight: bold;
  color: #353535;
  width: 3.6875rem;
  height: 4.3125rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.9375rem;
}
.main-restaurant .container .menu1 .box .progressBar,
.main-restaurant .container .menu2 .box .progressBar,
.main-restaurant .container .menu3 .box .progressBar {
  background-color: #99E2D0;
  width: 3.6875rem;
  height: 4.3125rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.9375rem 0.9375rem 0;
  margin-right: -3.75rem;
  transition: 250ms ease-in-out;
  flex-shrink: 0;
}
.main-restaurant .container .order {
  display: flex;
  justify-content: center;
}
.main-restaurant .container .order__btn {
  padding: 0 2.5rem;
  margin-bottom: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
