/* Footer */
.footer {
    width: 100%;
    background: $clr-grey02;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;


    @media (min-width: 1055px) {
        height: 7.125rem;
        flex-direction: row-reverse;
        justify-content: end;
        gap: 0;

    }
    

    &__title {
        font-family: $txt-shrikhand;
        font-size: 19px;
        color: white;
        font-weight: 100;
        width: 8.6875rem;
        padding: 1.375rem 1.5625rem 0 1.5625rem;
        @media (min-width: 1055px) {
            margin-block: auto;
            padding: 1.375rem 1.5625rem 0 0;
            margin-right: 1.25rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: .4375rem;
        padding: 0 1.5625rem 1.375rem 1.5625rem;
        margin: 0;
        
        @media (min-width: 1055px) {
            flex-direction: row;
            align-items: self-end;
            padding: 0 0 2.0625rem 1.5625rem;
        }

        & > li {
            color: white;
            font-size: 1rem;
            list-style: none;
            height: 1.5rem;
            font-weight: 300;
        }
        
        & > li:nth-child(1),
        & > li:nth-child(2) {
            width: 11.875rem;
        }

        & > li:nth-child(3),
        & > li:nth-child(4) {
            width: 8.125rem;
        }
        
    }

    .group01 {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > p {
            width: 10.5rem;
            font-weight: 400;
        }
        & > i {
            font-size: .75rem;
            width: 1.375rem; 
        }
    }
}
