// favoris bar
.box-fav {
    position: absolute;
    bottom: 15px;
    right: 26px;
}

@for $i from 1 through 4 {

    // init unche icon
    .label-fav#{$i}::before {
        font: var(--fa-font-regular);
        content: "\f004";
        font-size: 1.375rem;
        animation: heart-status 60ms 3 reverse;

    } 
    // init checked icon
    .label-fav#{$i}::after {
        font: var(--fa-font-solid);
        content: "\f004";
        font-size: 1.375rem;
        background: $gradien-color;
        color: transparent;
        -webkit-background-clip: text;
        display: none; // Initialisation cachée
        }

    #input-fav#{$i}[type="checkbox"] {
        display: none; // Cacher la case de la checbox à cocher par défaut 

    }
    
    #input-fav#{$i}[type="checkbox"]:checked + .label-fav#{$i}::before {
        display: none; // Cacher l'icône par défaut lorsque la case est cochée

    }
    
    #input-fav#{$i}[type="checkbox"]:checked + .label-fav#{$i}::after {
        display: inline-block; // afficher l'icône solide lorsque la case est cochée
        animation: heart-status 400ms;
    }
}