.fav-bar {
    position: absolute;
    bottom: 15px;
    right: 0;

    .unchecked {
        font-size: 1.375rem;
        transition: opacity 220ms ease-in-out;
    }

    .checked {
        font-size: 1.375rem;
        background: $gradien-color;
        color: transparent;
        -webkit-background-clip: text;
        opacity: 0;
        position: relative;
        right: 26px;
        transition: opacity 550ms ease-in-out;
        transform: scale(1.1);
        &:hover {
            opacity: 1;
        }
    }
}


