/* Litle card */
.litleCard {
    height: 4.5rem;
    @include flexJustAliCtr;
    flex-direction: row;
    background-color: $clr-background;
    border-radius: .9375rem;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 1.25rem;
    position: relative;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.2); 

    @media (min-width: 1440px) {
        min-width: 20.9375rem;
        margin: 0;
    }

    &__numberPosition {
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 1.5625rem;
        background-color: $clr-primary;
        color: white;
        @include flexJustAliCtr;
        position: absolute;
        left: -0.75rem;
        }

    &__icon {
        height: 1.5625rem;
        width: 1.5625rem;
        display: flex;
        justify-content: end;
        align-items: center;
        
        & > i {
            color: $clr-icon-functioning;
        }

    }

    .color {
        color: $clr-primary;
    }
    
    &__txt {
        width: 180px;
        height: 1.5625rem;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
    }
}