/*********** header ***********/
.header {

    .logo {
        & > a {
            display: none;
        }
    }
}

/*********** main ***********/
/*********** search bar ***********/
.form {
    width: 100%;
    height: 3.125rem;
    @include flexJustAliCtr;
    gap: .9375rem;
    background: linear-gradient(#bdbdbd, #eaeaea 7%);
    box-shadow: $shadow-position-y;
    position: relative;
    &__icon {
        color: $clr-grey02;
    }
    &__subtitle {
        font-size: 1rem;
        font-weight: 500;
        color: $clr-grey02;
    }
}

/*********** intro ***********/
.intro {
    width: 100%;
    height: 17.875rem;
    background: $clr-background;
    text-align: center;
    @include flexJustAliCtr;
    flex-direction: column;
    gap: 1.25rem;

    @media (min-width: 1440px) {
        height: 14.9375rem;
    }

    & > * {
        margin: 0 $margin;
    }

    &__title {
        margin: 0 2.6875rem;
        font-size: $title;
        font-weight: 900;
        

        @media (min-width: 1440px) {
           font-size: 2.5rem;
        }
    }
    
    &__subtitle {
        font-size: $subtitle;
        font-weight: 300;
        color: $clr-grey02;
    }
    
    & > .btn {
        font-weight: 500;
    }

}

/*********** functioning ***********/
.functioning {
    width: 100%;
    height: 27.5rem;
    @include flexColumn;
    justify-content: space-evenly;

    @media (min-width: 1440px) {
        height: auto;
        align-items: center;
    }

    .container {

        @media (min-width: 1440px) {
            padding: 3.125rem 0;
            display: flex;
            flex-direction: column;
            gap: 1.5625rem;
            width: 1080px;
        }

        &__title {
            font-size: $title;
            margin-bottom: 2.1875rem;
            margin-left: 1.25rem;

            @media (min-width: 1440px) {
                margin: 0;
            }
        }

        &__litleCards {
            @include flexColumn;
            flex-wrap: wrap;
            gap: 1.5rem;

            @media (min-width: 1440px) {
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}
/*********** restaurants ***********/
.restaurants {
    width: 100%;
    background-color: $clr-background;
    padding-top: 3.6875rem;
    padding-bottom: 4.125rem;

    @media (min-width: 1440px) {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .cards {
        @include flexColumn;
        gap: 1.125rem;

        @media (min-width: 1440px) {
            align-items: center;
        } 

        &__title {
            font-size: $title;
            margin-left: 1.25rem;
            padding-bottom: 1.625rem;
    
            @media (min-width: 1440px) {
               margin: 0;
            }
        }

        .column {
            @include flexColumn;
            gap: 1.125rem;
            margin: 0 $margin;

            @media (min-width: 1440px) {
                flex-direction: row;
                width: 1080px;
                gap: 6.25rem;
            }   
        }
    }
}


// .column {
//     display: flex;
//     flex-direction: column;
//     gap: 18px;
    
//     @media (min-width: 1440px) {
//         flex-direction: row;
//         width: 1080px;
//         gap: 100px;

//     }