@mixin flexJustAliCtr {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}


@mixin card {
    width: 100%;
    background: white;
    border-radius: .9375rem;
    @include flexColumn;
    cursor: pointer;
    position: relative;

}

@mixin hidden-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}