@mixin flexJustAliCtr {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}


@mixin card {
    // height: 4.3125rem;
    width: 100%;
    background: white;
    border-radius: .9375rem;
    @include flexColumn;
    cursor: pointer;
    position: relative;

}

