@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// font-family
$txt-roboto: "Roboto", sans-serif;
$txt-shrikhand: "Shrikhand", serif;

// shadow
$clr-background: #F6F6F6;
$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-size: 4px;
$shadow-position-y: 0px $shadow-size 5px $shadow-color;

// colors 
$clr-grey01: #EAEAEA;
$clr-grey02: #353535;
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-txt-tertiary: #008766;
$clr-icon-functioning: #7E7E7E;

// gradient
$gradien-color: linear-gradient(to bottom, $clr-secondary, $clr-primary);
$gradien-color-lighten: linear-gradient(to bottom, lighten($clr-secondary, 8%), lighten($clr-primary, 8%));

//margin
$margin: 1.0625rem;


// font size
$title: 1.5rem;
$subtitle: 1.125rem;